.bg-card{
    background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
    
  }
  .fs30{
    font-size: 30px;
  }
  body {
    padding-top: 50px;
    font-size: .95rem !important;
    background-color:#eeeeee8c;
  }
  .btn-grey{
      background-color:#D8D8D8;
      color:#FFF;
  }
  .img-size{
    width:100%
  }
  
  .b-left{
    border-left: 1px solid #cecece;
  }
  .b-right{
    border-right: 1px solid #cecece;
  }
  .rating-block{
      background-color:#FAFAFA;
      border:1px solid #EFEFEF;
      padding:15px 15px 20px 15px;
      border-radius:3px;
  }
  .bold{
      font-weight:700;
  }
  .padding-bottom-7{
      padding-bottom:7px;
  }
  
  .review-block{
      background-color:#FAFAFA;
      border:1px solid #EFEFEF;
      padding:20px;
      border-radius:3px;
      margin-bottom:15px;
  }
  .review-block-name{
      font-size:15px;
      margin:10px 0;
  }
  .review-block-date{
      font-size:12px;
  }
  .review-block-rate{
      font-size:13px;
      margin-bottom:15px;
  }
  .review-block-title{
      font-size:15px;
      font-weight:700;
      margin-bottom:10px;
  }
  .review-block-description{
      font-size:13px;
  }

  img {
    padding: 0px !important;
    border: 1px solid #fff !important;
  }

span {
  font-size: 10px;
}

a {
  font-size: 15px !important;
}