body {
    background-color:#eeeeee8c !important;
}

.wiki-result {
    margin: 50px auto;
    width: 500px;;
  }
  .center {
       float: none;
       margin-left: auto;
       margin-right: auto;
  }

  .doctor-search, img {
      width: 380px;
      height: auto;
      margin: 0 auto;
  }
