body, html {
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: sans-serif;
  }
  
  .main-nav {
    position: fixed;
    width: 70%;
    margin: 0 15%;
    z-index: 50;
  }
  .main-nav .main-nav-inner {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 20px;
  }
  .main-nav .main-nav-inner .main-nav-search {
    position: absolute;
    right: 0;
    color: #4483a7;
    font-size: 2em;
    cursor: pointer;
  }
  
  #search-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    right: auto;
    bottom: auto;
    z-index: 100;
    transition: opacity 0.5s;
    overflow: hidden;
    opacity: 0;
  }
  #search-modal.active {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  #search-modal .search-modal-background {
    height: 100%;
    width: 100%;
    background: #4483a7;
    opacity: 0.85;
  }
  #search-modal .search-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #000000;
    font-size: 2em;
  }
  #search-modal .search-content-area {
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  #search-modal .search-content-area #modal-search-field {
    display: block;
    outline: none;
    border: none;
    box-shadow: none;
    background: none;
    border-bottom: 4px solid #242424;
    width: 80%;
    margin: auto;
    font-size: 5em;
    line-height: 1.3em;
    color: #242424;
  }
  #search-modal .search-content-area label[for=modal-search-field] {
    display: block;
    width: 80%;
    margin: auto;
    text-align: right;
    color: #000000;
    margin-top: 10px;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 1px;
  }
  #search-modal .search-content-area .search-suggestions {
    width: 50%;
    margin: auto;
    color: #ddd;
  }
  #search-modal .search-content-area .search-suggestions h4 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 1em 0;
  }
  #search-modal .search-content-area .search-suggestions .search-tag {
    display: inline-block;
    font-size: 1.1em;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 1.4em;
    margin: 0.3em 0.2em;
    padding: 5px 10px;
    border-radius: 5px;
    background: #39727D;
    box-shadow: 0 2px 3px #31626b;
    cursor: pointer;
  }
  #search-modal .search-content-area .search-suggestions .search-tag:hover {
    transform: translateY(-2px);
    background: #41828f;
    box-shadow: 0 4px 6px #31626b;
  }
  
  .content {
    transition: transform 0.2s;
    transform: scale(1);
    transform-origin: 50% 0;
    padding: 1px;
  }
  
  .top-box {
    width: 40%;
    height: 40px;
    margin: 5em auto;
    background: #ccc;
  }
  
  .twin-box {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
  }
  
  .twin {
    width: 45%;
    height: 200px;
    background: #ccc;
  }
  
  .full-box {
    width: 70%;
    height: 200px;
    background: #ccc;
    margin: 0 auto 5em auto;
  }